<!DOCTYPE html>
<html>
    <head>
        <base href="/">

        <title>Per === 'Programmer';</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Programmer Per</title>

        <environment names="Development">
            <!-- TODO: Get bundled CSS from lib too -->
            <link rel="stylesheet" href="~/css/site.css" />

            <!-- Angular libraries. TODO: Bundle -->
            <script src="~/lib/es6-shim/es6-shim.min.js"></script>
            <script src="~/lib/systemjs/dist/system-polyfills.js"></script>
            <script src="~/lib/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
            <script src="~/lib/angular2/bundles/angular2-polyfills.js"></script>
            <script src="~/lib/systemjs/dist/system.src.js"></script>
            <script src="~/lib/rxjs/bundles/Rx.js"></script>
            <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
            <script src="~/lib/angular2/bundles/router.dev.js"></script>

            <script>
                System.config({
                    packages: {
                        app: {
                            format: 'register',
                            defaultExtension: 'js'
                        }
                    }
                });
                System.import('app/main').then(null, console.error.bind(console));
            </script>
        </environment>

        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>

    <body>

        <div>
            @RenderBody()
        </div>

        <environment names="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
