<h4 class="home-title type-text">
    &gt; console.log("Hello, World.");
    <span class="blink">|</span>
</h4>

<p>
    Hello, World. Welcome to Programmer Per. I work for Betsson Group and this is my personal portfolio.
    This web application is built with Angular 2 and TypeScript.
    I believe in a world of semantic web components, modular and tested, ready for CI. I believe in code that
    doesn't break the web.

    Peek the source code at
    <a href="https://github.com/perjo927/angular2-preybird" target="_blank">
        GitHub
    </a>.
</p>