@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600);

html {
    font-size: 12px;
}

* {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: medium;
}

body {
    background: #0b0b0b;
}

body, input[text], button {
    color: #888;
}


h1 {
    color: #369;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h2, h3, h4 {
    color: #444;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}